*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
h1{
    font-family: 'Roboto', sans-serif;

}
.carousel-item img{
    width: 100%;
    height: 80vh;
}
.ab-img  img{
    width: 400px;
    height: 400px;
}